
header{
background-color:black;
color:white;
text-align:center;
padding:20px;
}
nav{
line-height:30px;
background-color:#eeeeee;
height:300px;
width:100;
float:left;
padding:50x;


}
section{
width:350px;
float:left;
padding:10px;
}
footer{
background-color:black;
color:white;
clear:both;
text-align:center;
padding:5px;
font:courier;
}

